/* Comments */

body {
    font-size: 10px;
    font-family: "Calibri", "Roboto";
    font-weight: 300;
    margin: 0;
    background: white;
    font-size: 1.4rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    color: #033E67;
    text-decoration: none;
}
a:hover, a:focus {
    color: #033E67;
    text-decoration: underline;
}

strong {
    font-weight: 400;
}

p {
    margin-top: 0;
}

h1, h2, h3 {
    margin-bottom: 10px;
    font-weight: 400;
    margin-top: 0;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.8rem;
}

.header {
    text-align: center;
    color: white;
    position: relative;
    /* text-shadow: black 0px 0px 5px; */
    width: 100%;
    height: 100vh;
    min-height: 800px;
}

.header.signup {
    height: 1000px;
}

.header.overview {
    height: 150px;
}

.header.overview .top-section .wrap {
    border-bottom: none;
}

.header > img {
    position: relative;
    z-index: 0;
}
.header p {
    font-weight: 400;
    padding: 10px;
    padding-bottom: 5px;
    max-width: 600px;
    text-align: justify;
}
.top-menu {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.header > .wrap-how-work {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}

.logo {
    margin-bottom: 60px;
    max-width: 400px;
    max-height: 100%;
}

.get-started {
    margin-top: 20px;
}

.button {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.button:focus, .button:hover {
    text-decoration: none;
}

.wrap {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both;
}

.block .wrap > h2 {
    text-align: left;
}


.block p:last-of-type {
    margin-bottom: 0;
}

.one-half {
    width: 46%;
    float: left;
}
.one-half.first {
    margin-right: 8%;
}

/* menu */

.menu a {
    color: white;
}

.menu li {
    list-style-type: none;
    float: left;
    margin-right: 15px;
    margin-top: 20px;
}
.menu li:last-of-type {
    margin-right: 0;
}
.menu {
    float: right;
}


/* -------- # -------- */

.top-section {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: left;
}

.top-section .wrap {
    height: 100%;
}

.block {
    padding-top: 50px;
    padding-bottom: 50px;
}



.features {
    color: white;
    background: #033E67;
}


.top-section .wrap {
    padding-bottom: 20px;
    border-bottom: 4px solid white;
}
.how-work {
    background: #033E67;
    color: white;
}

.how-work li {
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    background: #0D2432;
    color: white;
    text-align: left;
    padding-top: 20px;
}
.footer a {
    color: white;
}
.footer li {
    list-style-type: none;
}
.footer ul {
    padding-left: 0;
}

.footer .footer-group {
    width: 25%;
}

.sep {
    width: 100%;
    height: 4px;
    margin: 30px 0;
}
.sep.white {
    background: white;
}
.sep.black {
    background: black;
}

.chart {
    margin-bottom: 20px;
}

.trading-plan-section {
    margin-bottom: 80px;
}

.signup-btn {
    background: #0D2432;
    color: white;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}
.signup-btn:hover, .signup-btn:focus {
    color: white;
    cursor: pointer;
}

.signup-section {
    position: absolute;
    z-index: 999;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    color: black;
    border-radius: 20px;
    background: white;
    /* padding: 0 80px; */
    text-align: center;
    width: 600px;
    max-width: 90%;    
}
.signup-section input {
    padding: 12px;
    border-radius: 10px;
    background: #eee;
    border: 1px solid #ccc;
    width: 250px;
}
.wrap-signup {
    padding: 40px;
}
.signup-text {
    margin-right: 20px;
}
.wrap-signup .item {
    margin-bottom: 12px;
}
.wrap-signup .item-container {
    display: inline-block;
    text-align: right;
}

.account-section h2 {
    margin-bottom: 40px;
}

.account-section .item {
    margin-bottom: 12px;
}

.account-section .item-container {
    display: inline-block;
    text-align: right;
    margin-top: 20px;
}

.account-section input {
    padding: 12px;
    border-radius: 10px;
    background: #eee;
    border: 1px solid #ccc;
    width: 250px;
}


h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

p.no-margin {
    margin-bottom: 0;
}


/* --------  -------- */



.trading-plan, .bundle-group {
    background: #0D2432;
    color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    width: 30%;
    margin-right: 3.333%;
}

.bundle-group:last-of-type {
    margin-top: 40px;
}

.trading-plan:last-of-type, .bundle-group:last-of-type {
    margin-right: 0;
}

.trading-plan-section, .bundle-section {
    display: flex;
    flex-wrap: wrap;
}


.btn-tp, .btn-bundle {
    padding: 10px 20px;
}

.bundle-section {
    margin-bottom: 40px;
}

/* --------  -------- */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-container .col {
    width: 25%;
}

.flex-stocks, .flex-commodities {
    margin-bottom: 20px;
}

.scc .sep {
    margin-bottom: 80px;
}

.item-square {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}



.update-btn {
    background: #0D2432;
    color: white;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    display: inline-block;
}
.update-btn:hover, .update-btn:focus {
    color: white;
    cursor: pointer;
}

.btn-wrapper {
    text-align: right;
}



.breadcrumb {
    background: #eee;
    padding: 5px 0;
}


/* -------- #fonts -------- */

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("fonts/roboto-light.woff2") format("woff2"), url("fonts/roboto-light.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("fonts/roboto-medium.woff2") format("woff2"), url("fonts/roboto-medium.woff") format("woff");
}



/* -------- #media -------- */

@media screen and (max-width: 1340px) {
    .wrap {
        max-width: 1060px;
    }
}

@media screen and (max-width: 1100px) {
    .wrap {
        max-width: 900px;
    }
    .btn-tp, .btn-bundle {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 901px) {
    .wrap {
        max-width: 100%;
        padding: 0 20px;
    }
    .wrap-how-work {
        width: 70%;
    }



    .account-section .item-container {
        display: inline-block;
        text-align: left;
    }
    .account-section .signup-text {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .tm-image-medium {
        float: none;
        margin-bottom: 20px;
    }
    .wrap-signup .item-container {
        display: inline-block;
        text-align: left;
    }
    .wrap-signup .signup-text {
        display: block;
    }



    .top-section {
        height: 150px;
        text-align: center;
    }

    .logo {
        text-align: center;
        max-height: 100px;
        margin-bottom: 0;
    }

    .menu {
        margin-top: 0;
        float: none;
        display: block;
        padding-left: 0;
        text-align: center;
    }

    .menu li {
        float: none;
        display: inline-block;
    }

    .wrap-how-work {
        margin-top: 60px;
    }

    .wrap-how-work {
        width: 90%;
    }

    .one-half {
        width: 100%;
        float: none;
    }

    .flex-container .col {
        width: 50%;
    }

    .flex-container .col3, .flex-container .col4 {
        margin-top: 40px;
    }

    .trading-plan, .bundle-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .trading-plan:lst-of-type, .bundle-group:last-of-type {
        margin-bottom: 0;
    }


    .account-section input {
        width: 100%;
    }

    .wrap-signup .item-container {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .item-container .item {
        display: inline-block;
        text-align: left;
    }


}